.clear {
	clear: both;
}
html, body, #page {
	height: 100%;
}
body {
    font-size: 12px;
    line-height: 1.5;
	font-family: Helvetica, Arial, Sans-serif;
	margin: 0;
	padding: 0;
}
ul, ul.menu, li, ul li.leaf, ol {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
p {
	margin: 0 0 10px 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial Narrow', Helvetica, Arial, Sans-serif;
	margin: 0 0 10px 0;
	padding: 0;
}
h1.title {
	text-transform: uppercase;
}
h2 {
	font-size: 1.6em;
}
h2 a {
	color: #000;
	text-decoration: none;
}
#page-wrapper {
	min-height: 100%;
	min-width: 960px;
}
#header div.section, 
#featured div.section, 
#messages div.section, 
#main, 
#footer div.section { 
	width: 960px;
	margin: 0 auto;
}
#logo {
	display: block;
	width: 230px;
	float: left;
}
#navigation {
	background-color: #000;
	height: 50px;
	margin-bottom: 20px;
}
#main-menu {
	padding-top: 20px;
	float: left;
}
#block-menu-menu-secondary-menu, 
#block-menu-menu-ics-and-resources {
	overflow: hidden;
}
#block-menu-menu-secondary-menu {
	width: 600px;
	float: left;
}
#block-menu-menu-ics-and-resources {
	width: 125px;
	float: right;
}
#ics-resources {
	float: right;
	margin-right: 56px;
}
#main-menu li,
#block-menu-menu-secondary-menu li,
#ics-resources li,
#block-menu-menu-ics-and-resources li {
	float: left;
	padding: 0;
	margin: 0 5px 0 0;
}
#block-menu-menu-secondary-menu li,
#block-menu-menu-ics-and-resources li {
	margin: 0 10px 0 0;
}
#main-menu li a,
#block-menu-menu-secondary-menu li a,
#ics-resources li a, 
#block-menu-menu-ics-and-resources li a {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 1em;	
	line-height: 1em;
	text-decoration: none;
}
#ics-resources li a {
	color: #000;
	font-size: 1.2em;
	text-decoration: underline
}
#main-menu li a {
	padding: 6px 10px 6px 10px;
	font-size: 1.5em;
	padding-left: 10px;	
}
#main-menu li.active a {
	background-color: #fff;
	color: #000;
}
.region-header {
	width: 180px;
	padding: 11px 10px 0 0;
	float: right;
}
#block-search-form {
	width: 180px;
	height: 24px;
	position: relative;
}
#block-search-form .form-text,
#block-search-form .form-submit {
	width: 145px;
	height: 14px;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	padding: 5px 30px 5px 5px;
	font-weight: bold;
	color: #999;
}
#block-search-form .form-submit {
	width: 19px;
	height: 19px;
	cursor: pointer;
	padding: 0;
	background: transparent url(../images/searchbtn.png) no-repeat 0 0;
	position: absolute;
	right: 3px;
	top: 3px;
	text-indent: -8765px;
}
#block-search-form .form-submit:hover {
	background-position: 0 -19px;
}
#main-wrapper {
	min-height: 300px;
	margin-top: 30px;
}
#main {
    margin-bottom: 40px;
    margin-top: 20px;
}
#sidebar-first, #sidebar-second {
	width: 240px;
}
.sidebar .section {
    padding-top: 10px;
}
/*#content .section, .sidebar .section {
    padding: 0 15px;
}*/
.sidebar .block {
    border: 1px solid;
    margin: 0 0 20px;
    padding: 15px 10px;
}
.one-sidebar #content {
  width: 700px;
  margin-right: 20px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
.content {
	margin-top: 10px;
}
.block-menu .content {
	margin-top: 0;
}
#content, 
#sidebar-first, 
#sidebar-second, 
.region-footer-firstcolumn, 
.region-footer-secondcolumn, 
.region-footer-thirdcolumn, 
.region-footer-fourthcolumn {
    display: inline;
    float: left;
    position: relative;
}
#footer {
	background-color: #000;
	position: relative;
}
#footer div.section {
	padding: 32px 0;
	overflow: hidden;
}
.reg-charity {
	width: 600px;
	float: left;
	color: #ccc;
	font-size: 0.9em;
}
.reg-charity a {
	color: #ccc;
}
.social {
	width: 180px;
	float: right;
	margin-right: 160px;
}
.social li {
	display: block;
	height: 20px;
	margin: 0 0 5px 0;
	line-height: 20px;
}
.social li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	line-height: 20px;
	font-weight: bold;
	border: none;
	text-decoration: none;
}
.social li img {
	display: inline;
	position: relative;
	top: 5px;
	margin: 0 10px 0 0;
}
#crm-container a, #crm-container a:link {
	color: #000;
	text-decoration: underline;
}
#crm-container fieldset {
	border: 0 none;
}
#crm-container fieldset legend,
#crm-container .header-dark {
	color: #000;
	padding: 0;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 1.2em;
}
#crm-container .header-dark {
	margin-top: 40px;
}
#crm-container input[type="text"], 
#crm-container input[type="password"] {
	padding: 4px 2px;
}
#crm-container .crm-section .label, 
.crm-section .label {
	line-height: 2em;
}
#crm-container .crm-button input[type="button"], 
#crm-container .crm-button input.form-submit, 
#crm-container .crm-button input.form-submit-inline,
#crm-container a.button, 
#crm-container a.button:link, 
#crm-container input.form-submit, 
#crm-container input[type="button"],
#crm-container input.form-submit-inline, 
#crm-container .crm-button {
	background: #000 !important;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
}
#crm-container table.crm-profile-tagsandgroups {
	border: 0 none;
}
#crm-container tr {
	font-size: 1em;
}
#crm-container table.crm-profile-tagsandgroups tr.odd-row {
	background-color: transparent;
}
#crm-container table.crm-profile-tagsandgroups input.form-checkbox {
	margin-right: 6px;
}
#crm-container .event_info-group .display-block {
	margin: 0;
}
#crm-container .event_info-group .display-block td {
	padding : 4px 0;
}
.news-signup #crm-container .crm-section {
	margin-bottom: 6px;
}
.news-signup #crm-container .crm-section .label, 
.news-signup #crm-container .crm-section label {
	font-size: 1em;
	line-height: 1em;
	width: 100%;
	float: none;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
}
.news-signup #crm-container .crm-section .content, 
.news-signup .crm-section .content {
	margin: 0;
}
.news-signup #crm-container .big {
	width: 212px;
}
.news-signup #crm-container select {
	width: 216px;
}
.news-signup #crm-container table {
	margin-top: 20px;
	border: 0 none;
}
.news-signup #crm-container tr.even-row td, 
.news-signup #crm-container tr.odd-row td {
	border: 0 none;
}
.news-signup #crm-container .even-row {
	background-color: transparent;
}
.news-signup #crm-container .form-layout-compressed td, 
.news-signup #crm-container td {
	padding: 0;
}
.news-signup #crm-container #crm-tagGroupTable td {
	padding: 6px 0;
}
.date-stamp {
	font-size: 1.2em;
	font-weight: bold;
	color: #999;
}
.messages-page .filter-wrapper {
	border: 0 none;
}
.messages-page .views-row {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}
.comment-form .form-type-item {
	display: none;
	visibility: hidden;
}
div.status {
	padding: 14px 20px 14px 60px;
}
div.messages {
	background-position: 14px 12px;
	border-width: 2px;
}
/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}